
body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Play', sans-serif;
  background-color: black;
}

header {
  margin:0 auto;
  text-align: center;
  background-color: #FF3D00;
}

#title {
  font weight: 700;
  font-size: 50px;
  color: white;
}

.instructions {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

.players {
  font-size: 24px;
  text-align: center;
  color: white;
}

.game-container {
  width: 250px;
  margin: 0 auto;
  padding-top: 10px;
}

.blocks {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  display: inline-block;
  background: url("../images/grunge-metal.jpg");
  background-size: cover;
  padding: 0px;
  margin: 3px;
}


.button {
  text-align: center;
  margin:0 auto;
}

footer {
  position: fixed;
  bottom: 5px;
}

#start {
  color: green;
}
